API_ID=15954332 # get this value from my.telegram.org
API_HASH=85adea6f1eaf068b707703b4846a9ced # get this value from my.telegram.org
BOT_TOKEN=5737035488:AAGWckRp1JVTOWIWDIhYLmrphtiQoy94dAs # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://hiyplva100:hiyplva100@cluster0.p1vcumr.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001737573985 # get this value from in your log group 
MUSIC_BOT_NAME=oldhelpbot # your music bot name 
STRING_SESSION=AgBmKLD-ponGb9YI1XdmceSkOy-8-Y9WeaQNewRreofjLeLU2E0w9nJK1M67DvX97sthd5w94-IWqp3nniNfQfBC9zy5zxVTotWCgbfs5BYUdHLLBVf1d5NsiZTcFZAPth1EXSzhNJs3yjbAfKI5nymlV2rvlkvELLoagHKSFy5mGpCqXwkjhW5AbWST7AEZ81CHScbWfPuCl28vGrR9qbAavfP7VvkKo6hKGMOO9CfqcWrernLjlPpARSs85CnLj3OXE7BXAex3ZQHo6DyB6qDC0cJdT5_SFPw5I8kH_0BwXidku3b_26_cxLOyevCYkB5unEvyHCOPrqxuzgKUPshsAAAAAUhXc-UA # get this value from @yukkistringbot
